.login {
    height: 100vh;
    background-color: rgb(3, 2, 17);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;

        .left {
            flex: 1;
            background: linear-gradient(rgba(11, 2, 29, 0.5), rgba(5, 1, 12, 0.5)),
                url("https://wallpapers.com/images/hd/linkedin-world-connect-h69my5elgenfxhkn.jpg") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1 {
                font-size: 100px;
                line-height: 100px;
            }

            h2 {
                color: rgb(206, 216, 224);
            }


            span {
                font-size: 14px;
            }

            button {
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rgb(5, 150, 36);
                font-weight: bold;
                cursor: pointer;
            }
        }
.forgot-password {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;

    &:hover {
        color: darkblue;
    }
}
        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1 {
                color: #555;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    font-size: medium;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #0ca120;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}