.resetPassword {
    height: 100vh;
        background-color: rgb(64, 64, 71);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vmax;
        box-sizing: border-box;
         
        font-family: 'Montserrat', sans-serif;
}
.div1 {
    display: flex;
    flex-direction: row;
    padding: "2vmax"
}
.resetPasswordForm {
background-image: linear-gradient(to right, #000000,
            #000000);
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
        
        color: white;
        font-family: 'Montserrat', sans-serif;
}

.resetPasswordInputs {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    color:white;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
}

.resetPasswordForm>a {
    align-self: center;
    color: rgb(61, 231, 231);
    text-decoration: none;
    
    margin: 2vmax;
}

@media screen and (max-width: 600px) {
    .resetPasswordForm {
        width: 100%;
    }

    .resetPasswordInputs {
        padding: 4vw 8vw;
        margin: 2vmax;
        font: 100 1.2rem "Roboto", sans-serif;
        margin: 4vw;
    }

    .resetPasswordForm>a {
        align-self: center;
        text-decoration: none;
        color: rgba(235, 235, 235, 0.959);
    }
}