.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2c0c46, #0c0725);
}

.header>a {
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax 4vmax;
}

.header>a>svg {
    font-size: 2vmax;
    transition: all 0.5s;
    color: rgba(245, 239, 239, 0.986);
}

.header>a>svg:hover {
    color: rgb(245, 240, 240);
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    .header>a {
        width: 8vw;
        height: 8vw;
        margin: 2vw 8vw;
    }

    .header>a>svg {
        font-size: 8vw;
    }
}