@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #020103, #0c0725);
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid white;
    position: sticky;
    z-index: 999;
    top: 0;
    /* Add a white border to the bottom of the header */
}
.div1 {
    display: flex;
    flex-direction: row;
    padding: "2vmax"
}

.span3 {
    color: aqua;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.span4 {
    color: rgb(243, 243, 243);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.header>span {
    font-weight: bolder;
    font-size: x-large;
    color: white;
   margin-right: 100px;
    /* position: sticky;
        z-index: 999; */
    /* Pushes the logo to the extreme left */
}
.header>a {
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax 4vmax;
}

.header>a>svg {
    font-size: 2vmax;
    transition: all 0.5s;
    color: rgba(245, 239, 239, 0.986);
}

.header>a>svg:hover {
    color: rgb(245, 240, 240);
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    .header>a {
        width: 8vw;
        height: 8vw;
        margin: 2vw 8vw;
    }

    .header>a>svg {
        font-size: 8vw;
    }
}