@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.search {
    height: 100vh;
background-color: rgb(64, 64, 71);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.searchForm {
    background-image: linear-gradient(to right,#000000,
        #000000);
    height: 100%;
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.searchForm>input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
}
.div1{
    display: flex;
    flex-direction: row;
    padding: "2vmax"
}
.span1{
color: aqua;
font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-weight: 900;
}
.span2 {
    color: rgb(243, 243, 243);
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
        font-weight: 900;
}

.searchResults {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 2vmax;
    box-sizing: border-box;
    margin: 2vmax;
}

@media screen and (max-width: 600px) {
    .searchForm {
        width: 100%;
    }

    .searchForm>input {
        padding: 4vw 8vw;
        margin: 2vmax;
        font: 100 1.2rem "Roboto", sans-serif;
        margin: 4vw;
    }
}